.playing-card {
    width: 60px;
    height: 90px;
    margin: 0 5px;
}

@media only screen and (min-width: 768px) {
    .playing-card {
        width: 150px;
        height: 225px;
        margin: 0 5px;
    }
}