@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');



.Player {
    display: flex;
    justify-content: center;
}

.Dealer {
    display: flex;
    justify-content: center;
}

.Title {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.App {
    text-align: center;
    font-family: 'Bangers', cursive;
    color: aliceblue;
    letter-spacing: 2px;
}

.Hand-btn {
    margin-top: 15px;
    background: none;
    border: 2px solid;
    outline: none;
    font: inherit;
    margin: 0.5em;
    padding: 1em 2em;
    color: #009688;
    transition: 0.25s;
    border-radius: 10px;
}


.Hand-btn:hover {
    border-color: #4caf50;
    color: white;
    box-shadow: inset 0 0 0 2em #4caf50;
}